*
{
        margin: 0;
    padding: 0;
}
body{
        margin: 0;
    padding: 0;
    /* background-position: center; */
    font-family: sans-serif;
}
.dataTables_wrapper {
    padding-left: 73px;
    padding-right: 73px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}
.chude
{
    background:#ff0000;
    width:200px;
    height:100px;
    margin-left:20px;
    margin-top:20px;
}